#mainBox {
    width: 70%; 
    height: 70%; 
    position: relative; 
    top: -110px; 
    font-size: 25px;
    display: flex;
}

.achievementBox {
    width: 150px;
    height: 150px;
    border: 5px black solid;
    border-radius: 4pc;
    margin: 40px;
    background-color: rgb(190, 55, 55);
    margin-left: auto;
    margin-right: auto;
    line-height: 25px;
    display: flex;
    justify-content: center;
}

.infoBox {
    position: absolute;
    border:darkred solid;
    background-color: blanchedalmond;
    border-radius: 10px;
    transition: all ease-in-out 350ms;
    width: 425px;
    height: 150px;
    opacity: 0;
    top: 37%;
    visibility: hidden;
}

#infoBoxID:hover #info {
    visibility: visible;
    opacity: 1;
}

#sweeperSweeped:hover #sweeperSweepedInfo {
    visibility: visible;
    opacity: 1;
}
