#mainBox {
    width: 70vw; 
    height: 70vh; 
    position: relative; 
    top: -100px; 
    font-size: 2.6vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.row2 {
    transform: translateX(75%) translateY(120%);
}

.achievementBox {
    width: 16.5vh;
    height: 16.5vh;
    border: 5px black solid;
    border-radius: 3vi;
    background-color: rgb(190, 55, 55);
    margin: auto;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoBox {
    position: absolute;
    border:darkred solid;
    background-color: rgb(252, 228, 195);
    border-radius: 10px;
    transition: all ease-in-out 350ms;
    width: 22vw;
    height: 13vh;
    opacity: 0;
    top: 37%;
    visibility: hidden;
}

#infoBoxID:hover #info {
    visibility: visible;
    opacity: 1;
}

#sweeperSweeped:hover #sweeperSweepedInfo {
    visibility: visible;
    opacity: 1;
}