body {
    height: 100vh;
}

#controlsBox {
    display: flex;
    width: 60vw;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0;
}

.controlBox {
    margin: 0.8vw;
    width: 11vw;
    height: 11vh;
    background-color: brown;
    display: flex;
    justify-content: center;
    transform: translateY(50%);
}

.letterBox {
    height: fit-content;
    width: fit-content;
    font-size: 2vh;
    color: white;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    box-shadow: 2px 2px;
}

.rowHeader {
    font-size: 3vh;
    position: absolute;
}

.letterText {
    color: antiquewhite;
    transform: translateY(50%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 0.22vh 0.22vh rgb(46, 9, 9);
    font-size: 1.7vh;
}

.border {
    border: 0.5vh black solid;
    border-radius: 0.5vh;
}