#mainContainer {
    width: 60vw;
    height: 60vh;
    border: solid .4vw brown;
    border-radius: 1vw;
    width: 65vw;
    height: 65vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
}

#upperContainer {
    height: 20%;
}

#restOfContainer {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-10%);
}

.gameButton {
    width: fit-content;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
    height: 4vh;
    font-size: 1.5vw;
    text-align: center;
}

h3{
    padding: 0px;
}

.checkBoxOptions {
    scale: 250%;
}

#guessInput {
    height: 10%;
    width: 25%;
    text-align: center;
    font-size: 1.3vw;
}

#nextNote {
    visibility: hidden;
}

#topSelection{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(30%);
}

#middleSelection {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translateY(275%);
    font-family: 'Consolas';
    font-size: 1.3vw;
}

#bottomSelection{
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#noteSelection {
    width: 70%;
    height: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: rgb(226, 197, 161);
    transform: translate(-50%, -50%);
    border: solid 0.25vw rgb(117, 117, 116);
    border-radius: 0.75vw;
    box-shadow: 1vw 1vw 1vw rgb(168, 155, 139);
    display: flex;
    flex-wrap: wrap;
    z-index: 5;
}

#noteSelectionButton {
    position: relative;
    margin-top: 1vw;
    margin-left: -1vw;
    left: 100%;
    display: flex;
    align-items: center;
    font-size: 1.3vw;
    justify-content: center;
    transform: translate(-100%);
    width: fit-content;
    height: 40%;
    border: solid 0.25vw brown;
    border-radius: 0.75vw;
    transition: background-color 200ms;
}

#noteSelectionButton:hover {
    background-color: rgb(218, 196, 169)
}

#gameContainer {
    height: 50%;
    width: 50%;
    border: brown solid;
    border-radius: 0.5vw;
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#noteButtonContainer {
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

@media (max-width: 800px) { /*MOBILE */

    h1 {
        font-size: 13vw;
    }

    h3{
        font-size: 4.4vw;
    }

    #mainContainer {
        width: 60vw;
        height: 60vh;
        border: solid 1vw brown;
        border-radius: 2.5vw;
        width: 80vw;
        height: 65vh;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
    
    #noteSelectionButton {
        position: relative;
        margin-top: 2vw;
        margin-left: 0;
        left: 50%;
        display: flex;
        align-items: center;
        font-size: 6vw;
        justify-content: center;
        transform: translate(-50%);
        width: fit-content;
        height: 10%;
        border: solid .7vw brown;
        border-radius: 2.5vw;
    }

    .checkBoxOptions {
        scale: 175%;
    }

    #middleSelection {
        font-size: 6vw;
    }
    
    #gameContainer{
        width: 70%;
        height: 65%;
    }

    #guessInput {
        font-size: 4vw;
    }

    .gameButton {
        padding-left: 2vw;
        padding-right: 2vw;
        font-size: 5vw;
        text-align: center;
    }

    #noteButtonContainer {
        flex-wrap: wrap;
        transform: translateY(-60%);
    }
}