h3 {
    margin: 0px;
    padding: 0px;
}


.pressed {
    transform: translate(-95%, 5%) !important;
    box-shadow: 0 0 0 !important;
}

#mainContainer {
    width: 60vw;
    height: 60vh;
    border: solid .4vw brown;
    border-radius: 1vw;
    width: 65vw;
    height: 65vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 147, 128);
}

#upperContainer {
    height: 20%;
}

#restOfContainer {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transform: translateY(-10%);
}

.sideBox {
    width: 12%;
    height: 20%;
    border: 0.2vw black solid;
    border-radius: 1vw;
    display: flex;
    flex-direction: column-reverse;
    background-color: beige;
}

.scoreHolder {
    text-align: center;
    font-size: 3vw;
    transform: translateY(7%);
}

.innerBottomSideBox {
    background-color: black;
    height: 30%;
    width: 101%;
    border-radius: 0.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transform: translateY(3%);
    font-size: 1vw;
}

.gameButton {
    width: fit-content;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
    height: 4vh;
    font-size: 1.5vw;
    text-align: center;
}

#listenButton {
    transform: translateY(20%);
}

.checkBoxOptions {
    scale: 250%;
}

#guessInput {
    height: 10%;
    width: 25%;
    text-align: center;
    font-size: 1.3vw;
}

#nextNote {
    visibility: hidden;
}

#topSelection{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    transform: translateY(30%);
}

#middleSelection {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translateY(275%);
    font-family: 'Consolas';
    font-size: 1.3vw;
}

#bottomSelection{
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#gameContainer {
    height: 50%;
    width: 50%;
    border-radius: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#noteSelectionButton {
    background-color: beige;
    position: relative;
    margin-top: 1vw;
    margin-left: -1vw;
    left: 100%;
    display: flex;
    align-items: center;
    font-size: 1.3vw;
    justify-content: center;
    transform: translate(-100%);
    width: fit-content;
    height: 40%;
    border: solid 0.25vw brown;
    border-radius: 0.75vw;
    box-shadow: .25vw .25vw  black;
    transition: all 100ms;
}

#noteSelectionButton:hover {
    background-color: rgb(218, 196, 169)
}

#pianoContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
}

#buttonHolder {
    height: 0%;
}
.pianoKey {
    transition: all 100ms;
}

.pianoKey:active {
    box-shadow: 0vh 0vh black;
    transform: translate(10%, 5%);
    z-index: 1;
}

.pianoWhiteKey {
    height: 100% !important;
    width: 100% !important;
    margin: 0;
    background-color: white;
    color: rgba(0, 0, 0, 0.99);
    box-shadow: 0.5vw 0.5vw 0.1vw black;
    z-index: 9;
}

.pianoWhiteKey:hover {
    color: rgba(0, 0, 0, 0.99);
}

.pianoBlackKey {
    position: absolute;
    width: 3.5%;
    height: 30%;
    margin: 0;
    background-color: black;
    color: rgba(255, 255, 255, 0.99);
    z-index: 10;
    box-shadow: 0.2vw 0.2vw black;
}

.pianoBlackKey:active {
    z-index: 10;
}

.pianoBlackKey:hover {
    color: rgba(255, 255, 255, 0.99);
}

#Db {
    transform: translate(120%, -5%);
}

#Eb {
    transform: translate(303%, -5%);
}

#Gb {
    transform: translate(653%, -5%);
}

#Ab {
    transform: translate(835%, -5%);
}

#Bb {
    transform: translate(1013%, -5%);
}

#Db:active {
    transform: translate(135%, 0%);
}

#Eb:active {
    transform: translate(318%, 0%);
}

#Gb:active {
    transform: translate(668%, 0%);
}

#Ab:active {
    transform: translate(848%, 0%);
}

#Bb:active {
    transform: translate(1028%, 0%);
}

#mainBottomContainer {
    width: 100%;
    height: 5%;
    transform: translateY(-310%);
    display: flex;
    justify-content: space-evenly;
}

#scorePercentage {
    border: black solid;
    width: 15%;
    height: 300%;
    border-radius: 1vw;
    background-color: beige;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 2.1vw;
}

@media (max-width: 800px) { /*MOBILE */

    h1 {
        font-size: 13vw;
    }

    h3{
        font-size: 4.4vw;
    }

    button.gameButton {
        font-size: 3.5vw;
    }

    .wrongRightText {
        font-size: 2vw;
    }

    #mainContainer {
        width: 60vw;
        height: 60vh;
        border: solid 1vw brown;
        border-radius: 2.5vw;
        width: 80vw;
        height: 65vh;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
    
    #noteSelectionButton {
        position: relative;
        margin-top: 2vw;
        margin-left: 0;
        left: 50%;
        display: flex;
        align-items: center;
        font-size: 6vw;
        justify-content: center;
        transform: translate(-50%);
        width: fit-content;
        height: 35%;
        border: solid .7vw brown;
        border-radius: 2.5vw;
        transition: all 250ms;
    }

    .checkBoxOptions {
        scale: 175%;
    }

    #middleSelection {
        font-size: 6vw;
    }
    
    #gameContainer{
        width: 70%;
        height: 65%;
    }

    #guessInput {
        font-size: 4vw;
    }

    .gameButton {
        padding-left: 2vw;
        padding-right: 2vw;
        font-size: 5vw;
        text-align: center;
    }

    #noteButtonContainer {
        flex-wrap: wrap;
        transform: translateY(-80%);
    }

    #scorePercentage {
        height: 125%;
        width: fit-content;
    }
}