#achievementsButton {
    background-image: linear-gradient(45deg, rgb(238, 119, 82), rgb(231, 60, 126), rgb(35, 166, 213), rgb(35, 213, 171));
    background-size: 0%;
    transition: all 250ms;
}

#achievementsButton:hover {
    background-position: 50%;
}


#headerText {
    top: 0px;
}

.gameContainer {
    justify-self: center;
    align-self: center;
}

.mainContainer {
    height: 60vh;
}

.innerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transform: translateY(10vh);
}

#freddyButton {
    opacity: 1;
    width: 2vw;
    height: 2vw;
    top: 6vh;
    opacity: 0.05;
    right: 6vh;
    position: absolute;
}