html, body {
    height: 100%;
}

#box {
    width: 85vw;
    height: 65vh;
    font-size: 4vmin;
    font-family: "Consolas";
}

.abcInput {
    font-size: 3vmin;
    width: 1ch;
    max-width: 6ch;
    min-width: 1ch;
    background: brown;
    color: aliceblue;
    margin-top: 2vh;
    font-family: "consolas";
    border-radius: 0.6vh;
}

#results {
    height: 89%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.subArea {
    margin-top: 2vh;
    height: 80%;
    width: 80%;
    border: 4px brown solid;
    border-radius: 1vw;
    transform: translateX(12.5%);
    background-color: bisque;
    box-shadow: 0.3vw 0.3vw 0.3vw black;
    margin-top: 4vh;
}

#inputs {
    background-color: bisque;
    width: fit-content;
    border: brown solid;
    border-radius: 0.5vw;
    padding: 0.4vw;
    box-shadow: 0.25vw 0.25vw 0.3vw black;
    transition: opacity 0.2s;
}