.rpsButton {
    top: 20px;
    height: 25%; 
    width: 23%;
    position: relative;
}

.gameBox {
    min-width: 35vw;
}

#r {
    left: -50px;
}

#s {
    right: -50px;
}

#headerText {
    margin-bottom: 17px
}

#leftSmallGameBox {
    position: absolute;
    left: 11%;
}

#rightSmallGameBox {
    position: absolute;
    right: 11%;
}

.scores {
    position: absolute;
    top: 3px;
    font-size: 100px;
}

#leftScore {
    left: 1%;
}

#rightScore {
    right: 1%;
}

.smallBoxBelowText {
    position: relative;
    bottom: -120px;
}

#questionBox {
    width: 4vw;
    height: 4vh;
    margin: 1vh;
    border: 3px black solid;
    border-radius: 5px;
    position: relative;
    transition: all ease-in 100ms;
    background-color: gray;
}

.textC {
    width: 100%;
    height: 50%;
}

#questionBox:hover {
     background-color: brown;
     
}

#infoBox {
    width: 1000%;
    height: 115px;
    top: -120%;
    left: 230%;
    border:darkred solid;
    background-color: blanchedalmond;
    border-radius: 10px;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in 150ms;
}
.Xscores {
    opacity: 0.3;
}

#questionBox:hover #infoBox {
    opacity: 1;
}

.displayMoves {
    left: 35px;
    bottom: 35px;
    position: absolute;
    color: brown;
    text-shadow: black 10px 10px;
}

#playerRock {
    visibility: hidden;
    transform: scaleX(-1);
}

#result {
    animation: floatDown;
    font-size: 4vh;
}

#playerPaper {
    visibility: hidden;
    transform: scaleX(-1);
}

#playerScissors {
    visibility: hidden;
    transform: scaleX(-1);
}

#computerRock {
    visibility: hidden;
}

#computerPaper {
    visibility: hidden;
    
}

#computerScissors {
    visibility: hidden;
}

#playerScore {
    text-align: left;
    position: relative;
    right: 5%;
    top: 15%;
    transition: opacity 1s;
}

#computerScore {
    text-align: right;
    position: relative;
    left: 5%;
    top: 15%;
    transition: opacity 1s;
}