.rpsButton {
    top: 20px;
    height: 25%; 
    width: 23%;
    position: relative;
}

.gameBox {
    min-width: 35vw;
}

#r {
    left: -50px;
}

#s {
    right: -50px;
}

.flexDiv {
    display: flex;
    justify-content: center;
    font-size: 3.5vh;
    font-family: 'Consolas', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#headerText {
    margin-bottom: 17px
}

#leftSmallGameBox {
    position: absolute;
    left: 11%;
}

#rightSmallGameBox {
    position: absolute;
    right: 11%;
}

.scores {
    position: absolute;
    top: 3px;
    font-size: 100px;
}

#leftScore {
    left: 1%;
}

#rightScore {
    right: 1%;
}

.smallBoxBelowText {
    position: relative;
    transform: translateY(170%);
}

.smallBoxHeader {
    position: relative;
    transform: translateY(-190%);
}

#questionBox {
    width: 4vh;
    height: 4vh;
    border: 3px black solid;
    border-radius: 5px;
    position: absolute;
    transition: all ease-in 100ms;
    background-color: gray;
    right: 0px;
    transform: translateY(-55%) translateX(-8%);
    
}

#winBox {
    display: block;
    position: relative;
    height: 12vh;
    width: fit-content;
    min-width: 38%;
}

#questionBox:hover {
     background-color: brown;
}

#endText {
    font-size: 3.4vh;
}

#infoBox {
    width: 40vh;
    height: fit-content;
    border:darkred solid;
    background-color: blanchedalmond;
    border-radius: 10px;
    position: absolute;
    opacity: 0;
    left: 0px;
    transform: translateX(18%) translateY(-75%);
    transition: opacity ease-in 150ms;
}
.Xscores {
    opacity: 0.3;
}

#questionBox:hover #infoBox {
    opacity: 1;
}

#restartButton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-80%);
}

#playerRock {
    visibility: hidden;
    transform: scaleX(-1);
}

#result {
    animation: floatDown;
    font-size: 4vh;
}

#playerPaper {
    visibility: hidden;
    transform: scaleX(-1);
}

#playerScissors {
    visibility: hidden;
    transform: scaleX(-1);
}

#computerRock, #computerPaper, #computerScissors{
    visibility: hidden;
}

#playerScore {
    text-align: left;
    position: relative;
    right: 5%;
    top: 15%;
    transition: opacity 1s;
}

#computerScore {
    text-align: right;
    position: relative;
    left: 5%;
    top: 15%;
    transition: opacity 1s;
}

#ps1, #cs1 {
    font-size: 5vw;
}

#ps2, #cs2 {
    font-size: 7vw;
}

#ps3, #cs3 {
    font-size: 9vw;
}

.fa-x {
    transform: translateY(-3.5vh);
}

#rockIcon, #paperIcon, #scissorsIcon {
    font-size: 10vmin;
}

#playerRock, #playerPaper, #playerScissors, #computerRock, #computerPaper, #computerScissors {
    font-size: 14vh;
}

.displayMoves {
    color: brown;
    text-shadow: black 0.8vw 0.8vw;
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
}

#leftFix {
    position: relative;
    top: -50%;
    left: 40%;
    /* FIX ONE DAY OMGGGGGGGG I GIVE UP CRAPPY TEMPORARY SOLUTION */
}