.testClassThatIWillNeverUseProbablyLongNameForFun {
    background-image: linear-gradient(45deg, rgb(253, 230, 201), rgb(255, 194, 119), rgb(253, 230, 201));
    background-image: linear-gradient(45deg, rgb(238, 119, 82), rgb(231, 60, 126), rgb(35, 166, 213), rgb(35, 213, 171));
    background-color: rgb(240, 192, 90);
}

*{
    user-select: none;
}

.gradientAnimation {
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

.vertical-center {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    border: 5px dotted;
    width: fit-content;
    margin-top: 20px;
    margin-left: auto; 
    margin-right: auto;
    padding: 10px;
    text-shadow: brown 3px 3px 3px;
    color: darkred;
    border-color: firebrick;
    font-size: 75px;
}

h2 {
    font-size: 40px;
    text-align: center;
    font-family: 'Consolas', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 0px;  
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}

.selectButton {
    height: 100px;
    width: 200px;
    font-size: 37px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: brown;
    border-radius: 5px;
    margin: 15px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

text {
    color: darkorange;
}

body {
    background-color: bisque;
    overflow: hidden;
    background-attachment: fixed;
}

a:link {
    text-decoration: none;
    color: azure;
}

a:active {
    color: aqua;
}

a:visited {
    color:azure;
}

a:hover {
    color: bisque;
    text-shadow: black 3px 3px 3px;
}

.selectButton:hover {
    background-color: rgb(139, 39, 39);
}

.gameContainer {
    margin-top: -20px;
    width: 65%;
    height: 600px;
    border: darkred solid;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    top: -10px;
    box-shadow: 10px 10px 5px rgb(77, 19, 19);
}

.gameBox {
    margin-top: 100px;
    height: 500px;
    width: 38%;
    border: darkred solid;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    background-color: blanchedalmond;
    box-shadow: 10px 10px 5px rgb(77, 19, 19);
}

.squreGameBox {
    margin-top: -20px;
    height: 700px;
    width: 700px;
    border: darkred solid;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: blanchedalmond;
    box-shadow: 10px 10px 5px rgb(77, 19, 19);
    display: flex;
    justify-content: center;
    align-items: center;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.cover {
    position: absolute;
    background-color: black;
    opacity: 0.8;
    height: 710px;
    width: 710px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 250ms;
    flex-wrap: wrap;
}

.coverButton:hover {
    background-color: rgb(139, 39, 39);
}

.coverButton {
    width: 230px;
    height: 110px;
    background-color: brown;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 90px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: color 100ms;
    user-select: none;
    border: 5px rgb(80, 0, 0) solid;
}

.coverButton:active {
    color: rgb(163, 163, 163);
}

#winBox {
    border:darkred solid;
    width: 38%;
    height: 115px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
    background-color: blanchedalmond;
    box-shadow: 10px 10px 5px rgb(77, 19, 19);
}

.gameInput {
    width: fit-content;
    height: 40px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: brown;
    color: white;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-top: -10px;
}

.gameButton {
    width: fit-content;
    height: 40px;
    background-color: brown;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: white;
    border-radius: 5px;
    margin: 9px;
    cursor: pointer;
    transition: color 100ms;
}

.gameButton:hover {
    text-shadow: black 3px 3px 3px;
    color:bisque;
}

.gameButton:disabled {
    color:darkgray;
}

.gameInput:disabled {
    background-color: rgb(128, 27, 27);
}

.gameButton:active  {
    color: rgb(163, 163, 163);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.notificationClass {
    position: absolute;
    width: 350px;
    height: 100px;
    border: 2px black solid;
    border-radius: 5px;
    background-color: beige;
    font-family: "Consolas";
    font-size: 28px;
    text-align: center;
    transition: opacity 1s;
}

.notificationEnterClass {
    animation: notificationEnter forwards;
    animation-play-state: paused;
    animation-duration: 2500ms;
}

#achievementsButton {
    height: 75px;
}

#notiExclamation {
    left: 20px;
    color: brown;
}

#notiText {
    left: 50px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@keyframes lower {
    from { margin-top: 0px; }
    to { margin-top: 1150px; }
}

@keyframes higher {
    from { margin-bottom: 0px; }
    to { margin-bottom: 1150px; }
}

@keyframes notificationEnter {
    from { margin-left: 100%; }
    to { margin-left: 80%; }
}

@keyframes floatDown  {
    from { top: 25%; }
    to { top: 30%; }
}

@keyframes gradient  {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}
