.toeBox {
    background-color: rgb(180, 123, 123);
    height: 21.5vh;
    width: 21.5vh;
    border: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid rgb(102, 28, 28);
    border-radius: 4px;
    margin: 1.8vh;
    margin-left: 0.9vh;
    margin-right: 0.9vh;
    transition: background-color 100ms;
    cursor: pointer;
}

.toeBox:hover {
    background-color: rgb(134, 90, 90);
}

.toeBox:active {
    background-color: rgb(90, 61, 61);
}

#player2 {
    right: 0px;
}

#buttonSmall {
    cursor: pointer;
    font-size: 4vh;
    height: fit-content;
    width: 32vh;
}

.fa-solid.fa-10x {
    position: absolute;
    opacity: 0;
    transition: opacity 250ms;
    
}

#restart {
    width: fit-content;
    position: absolute;
    bottom: 25px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    font-size: 50px;
    height: 6.5vh;
    background-color: brown;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 5vh;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#restart:hover {
    text-shadow: black 3px 3px 3px;
    color:bisque;
}

#oBox {
    visibility: visible;
    opacity: 0;
    position: absolute;
    right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 250ms;
}

#xBox {
    visibility: visible;
    opacity: 0;
    position: absolute;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 250ms;
}

#endBox {
    width: 40vw;
    height: 38vh;
    border: 5px brown solid;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    background-color:antiquewhite;
    border-radius: 10px;
    visibility: hidden;
    animation: floatDown 800ms paused forwards;
    display: flex;
    align-items: center;
    justify-content: center;
}

#endText {
    font-size: 8vh;
}

.scores {
    position: absolute;
    top: 20px;
    font-size: 100px;
}

#leftScore {
    left: 1%;
}

#rightScore {
    right: 1%;
}

.mobileScale {
    scale: 0.45;
}