.toeBox {
    background-color: rgb(180, 123, 123);
    height: 200px;
    width: 200px;
    border: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid rgb(102, 28, 28);
    border-radius: 4px;
    margin: 16px;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
}



.toeBox:active {
    background-color: rgb(90, 61, 61);
}

.fa-solid.fa-x {
    position: absolute;
    opacity: 0;
    transition: opacity 250ms;
}

.fa-solid.fa-o {
    position: absolute;
    opacity: 0;
    transition: opacity 250ms;
}